---
---
@import "{{ site.theme }}";

// Adjust the header padding to make it thinner
.page-header {
  padding-top: 1.2rem;     // Default theme uses 5rem
  padding-bottom: 1.2rem;  // Default theme uses 5rem
  content:url(before.jpg)
}

body:after {
  padding-left: 14rem;
  content:"\00a9 2026 Elias Johann Frühwein";
}
